*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;/*5515511515115*/
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result content__details";
  align-items: end;
  margin: 133px 0;
  padding: 0 30px;
  gap: 30px;
}
/*Шаг 2 по инструкции. Размер видео. 
Вопрос в относительности размеров контейнера и размера видео*/
.result {
  grid-area: result;
}

.result__video-container {
  height: 386px;
  width: 100%;
  margin-bottom: 16px;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: start;
}

.content__details {
  grid-area: content__details;
  width: 100%;
  max-height: 100%;
}

.content__list-container {
  height: 298px;
  overflow: scroll;
}

.title {
  padding-bottom: 26px;
}