*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: 1fr 399px;
  grid-template-areas: "result content__details";
  align-items: end;
  margin: 133px 0;
  padding: 0 30px;
  gap: 30px;
}

.result {
  grid-area: result;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-block-end: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: start;
}

.search-form__fieldset {
  border-style: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  line-height: 21.6px;
  font-size: 18px;
  padding-bottom: 5px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
}

.search-form__label-text {
  line-height: 18px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  font-family: inherit;
  font-size: inherit;
  line-height: 21.6px;
  border-style: none;
  border-top: 1px solid rgb(255 255 255/ 0.3);
  border-bottom: 1px solid rgb(255 255 255/ 0.3);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__textfield:active {
  border-left: 1px solid rgb(255 255 255/ 0.3);
  border-right: 1px solid rgb(255 255 255/ 0.3);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:not(:active):focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover:has(.search-form__pseudo-checkbox) {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: flex;
  inline-size: 19px;
  block-size: 19px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  border:1px solid #fff;
}

.search-form__checkbox:checked +.search-form__pseudo-checkbox::after {  
  content: '';
  min-inline-size: 15px;
  min-block-size: 15px;
  background-color: #fff;
  color: #fff;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.search-form__submit-button {
  align-self: self-end;
  inline-size: 194px;
  block-size: 34px;
}

.more-button {
  margin-top: 30px;
  height: 34px;
  width: 100%;
}

.button:focus {
  outline: none;
}
.button:active {
  background-color: #545050;
}
.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:not(:active):focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__details {
  grid-area: content__details;
  max-width: 100%;
  max-height: 100%;
}

.title {
  padding-bottom: 26px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  overflow: scroll;
}

.content__list {
  display: grid;
  gap: 30px;
}
.content__list-item {
  padding: 0 3px;
}
.content__list-item:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

a:focus {
  outline: 0;
}

.content__card-link_current {
  display: block;
  background-color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex: 0 0 196px;
  min-width: 0;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  margin-block-end: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;    
}

.content__video-card-description {
    font-weight: 400;
    line-height: 20px;/*значение выше 16.2px поскольку не могу сместить offset на тексте списка*/
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.content__video-card-thumbnail {/*Разобраться с обводкой списка content__card-link_current*/
  flex: 0 0 194px;
  width: 100%;
  height: 103px;
  object-fit: cover;
  object-position: center;
}